


<h1>Hi {{currentUser.firstName}}!</h1>

<agm-map  [zoom]="12" [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<style>
    agm-map {
    height: 600px;
    width: 600px;
}
</style>






<!-- <script src="https://unpkg.com/@reactivex/rxjs@6.1.0/dist/global/rxjs.umd.js"></script>
<script>
    const { WebSocketSubject } = rxjs.webSocket;
    const socket$ = new WebSocketSubject('ws://localhost:4000');
    socket$.subscribe(
        
            (data) => console.log(data),
            (err) => console.error(err),
            () => console.warn('Completed!')
        );
    socket$.next({
        event: 'events',
        data: 'test',
    });
    console.log('here')
</script> -->

<!-- <h1>Hi {{currentUser.firstName}}!</h1>
<p>You're logged in with Angular 6!!</p>
<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.imei}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul>
<p><a [routerLink]="['/login']">Logout</a></p> -->



<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

<h1>HELLLPPPPP</h1>

<body>
  <div id="map"></div>
  <script>
    var map;
    var marker;
  
    var pos = { lat: 32.086397, lng: 34.788485 }
    let socket = io.connect('http://localhost:4000');
    socket.on('news', function (data) {
      console.log(data);
      socket.emit('my other event', { my: 'data' });
    });

    socket.on('position', function (data) {
      console.log(data);
      var latlng = new google.maps.LatLng(data.lat, data.lng)//Object.values(data));
      marker.setPosition(latlng);

    });

    socket.on('data', function (data) {
      console.log(data)
      try{
      if(data.data.data.latitude){
        var latlng = new google.maps.LatLng(data.data.data.latitude, data.data.data.longitude)//Object.values(data));
      marker.setPosition(latlng);
      map.setCenter(latlng);
      }
    }catch(err){}


      if(_.get(data,'data.data.latitude_raw'))
     alert('dattt in console');

    });

    function initMap() {

      map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: 32.086397, lng: 34.788485 },
        zoom: 17
      });

      marker = new google.maps.Marker({
        position: pos,
        map: map,
        title: 'Hello World!'
      });
    }
  </script>
  <script src="https://raw.githubusercontent.com/lodash/lodash/4.17.10-npm/core.js"></script>

  
</body>

<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */

  #map {
    height: 100%;
  }

  /* Optional: Makes the sample page fill the window. */

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style> -->

